<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.ilgiocatoreonline.it/wp-content/uploads/2020/04/Origine-dei-nomi-nel-Poker.jpg);">
  <div class="container">
    <div class="banner-wrapper">
      <h1>PREFLOP</h1>
      <div class="poker-quote">
        <p>“A pair of balls beats everything!”<br>-Phil Ivey</p>
        <a class="play-button" href="/games">Play now</a>
      </div>
    </div>
  </div>
</div>


<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-12 col-sm-4 signup-form">
              <h2>Sign up</h2>
              <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                <%= f.error_notification %>

                <div class="form-inputs">
                  <%= f.input :email,
                              required: true,
                              autofocus: true,
                              input_html: { autocomplete: "email"},
                              placeholder: "sam@preflop.com" %>
                  <%= f.input :name,
                              required: true,
                              autofocus: true,
                              input_html: { autocomplete: "name" }%>
                  <%= f.input :pseudo,
                              required: true,
                              autofocus: true,
                              input_html: { autocomplete: "pseudo" }%>
                  <%= f.input :password,
                              required: true,
                              hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                              input_html: { autocomplete: "new-password" },
                              placeholder: "••••••••••" %>
                  <%= f.input :password_confirmation,
                              required: true,
                              input_html: { autocomplete: "new-password" },
                              placeholder: "••••••••••" %>
                  <%= f.input :photo, as: :file,
                              required: true,
                              label: "Upload a picture of you...",
                              autofocus: true %>
                </div>

                <div class="form-actions">
                  <%= f.button :submit, "Sign up", class: "btn btn-danger" %>
                </div>
              <% end %>

              <%= render "devise/shared/links" %>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
