<div class="navbar navbar-expand-sm navbar-light navbar-lewagon <%="home-navbar" if params[:action]=="home"%>">
  <% if params[:action]=="home" %>
    <a class="navbar-brand" href="/">
     <p class="poker-symbols">♣️♦️</p>
     <p class="poker-symbols">❤️♠️</p>
    </a>
  <% else %>
    <a class="navbar-brand" href="/">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/11/Anglo-American_card_suits.svg/926px-Anglo-American_card_suits.svg.png" />
    </a>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item active align-navbar-item">
          <a class="nav-link navbar-margin" id="nav-link-home" href="/">Home</a>
        </li>
        <li class="nav-item active align-navbar-item">
          <a class="nav-link navbar-margin" id="nav-link-games" href="/games">Games</a>
        </li>
        <li class="nav-item align-navbar-item">
          <a class="nav-link navbar-margin" id="nav-link-dashboard" href="/dashboard">Dashboard</a>
        </li>
        <% if user_signed_in? %>
            <li class="nav-item align-navbar-item me-2 ms-4 align-pseudo" >🟢 <%= current_user.pseudo%></li>
        <% end %>


        <li class="nav-item dropdown">
          <% if current_user.photo.attached? %>
            <%= cl_image_tag current_user.photo.key, crop: :thumb, class: "user-pic dropdown-toggle", data: {bs_toggle: "dropdown"}, 'aria-haspopup': true, 'aria-expanded': false %>
          <% else %>
            <%= image_tag "sam_photo.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% end %>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Log In", new_user_session_path, class: "nav-link-logout" %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign Up", new_user_registration_path, class: "nav-link-logout", id: "sign-up-button" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
