<div class="navbar navbar-expand-sm navbar-light navbar-lewagon <%="home-navbar" if (params[:action]=="home" || params[:action]=="index" || params[:action]=="dashboard" ) %>">
  <% if params[:action]=="home" || params[:action]=="index" || params[:action]=="dashboard" %>
    <a class="navbar-brand" href="/">
     <p class="poker-symbols">♣️♦️</p>
     <p class="poker-symbols">❤️♠️</p>
    </a>
  <% else %>
    <a class="navbar-brand" href="/">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/11/Anglo-American_card_suits.svg/926px-Anglo-American_card_suits.svg.png" />
    </a>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item active align-navbar-item">
          <a class="nav-link navbar-margin" id="nav-link-home" href="/">Home</a>
        </li>
        <li class="nav-item active align-navbar-item">
          <a class="nav-link navbar-margin" id="nav-link-games" href="/games">Games</a>
        </li>
        <li class="nav-item align-navbar-item">
          <a class="nav-link navbar-margin" id="nav-link-dashboard" href="/dashboard">Dashboard</a>
        </li>
        <% if user_signed_in? %>
            <li class="nav-item align-navbar-item me-2 ms-4 align-pseudo" >🟢 <%= current_user.pseudo%></li>
        <% end %>


        <li class="nav-item dropdown">
          <% if current_user.photo.attached? %>
            <%= cl_image_tag current_user.photo.key, crop: :thumb, class: "user-pic dropdown-toggle", data: {bs_toggle: "dropdown"}, 'aria-haspopup': true, 'aria-expanded': false %>
          <% else %>
            <%= image_tag "sam_photo.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% end %>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <span type="button" class="nav-link-logout" id="log-in-button" data-bs-toggle="modal" data-bs-target="#logInModal">
            Log in
          </span>
          <%# <%= link_to "Log In", new_user_session_path, class: "nav-link-logout" %>
        </li>
        <li class="nav-item" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <span type="button" class="nav-link-logout" id="sign-up-button" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Sign up
          </span>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-betwee">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/11/Anglo-American_card_suits.svg/926px-Anglo-American_card_suits.svg.png" class="modal-image" />
        <div class="d-flex align-items-center ms-2">
          <h5 class="modal-title" id="exampleModalLabel">Join Preflop today</h5>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row justify-content-center">
            <div class="signup-form">
              <h2>Sign up</h2>
              <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), remote: true) do |f| %>
                <%= f.error_notification %>

                <div class="form-inputs">
                  <%= f.input :email,
                              label: "Email*",
                              required: false,
                              autofocus: true,
                              input_html: { autocomplete: "email"},
                              placeholder: "sam@preflop.com" %>
                  <%= f.input :name,
                              label: "Name*",
                              required: false,
                              autofocus: true,
                              input_html: { autocomplete: "name" }%>
                  <%= f.input :pseudo,
                              label: "Pseudo*",
                              required: false,
                              autofocus: true,
                              input_html: { autocomplete: "pseudo" }%>
                  <%= f.input :password,
                              label: "Password*",
                              required: false,
                              hint: ("6 characters minimum"),
                              input_html: { autocomplete: "new-password" },
                              placeholder: "••••••••••" %>
                  <%= f.input :password_confirmation,
                              label: "Password confirmation*",
                              required: false,
                              input_html: { autocomplete: "new-password" },
                              placeholder: "••••••••••" %>
                  <%= f.input :photo, as: :file, id: "file1", name: "file1", style:"display:none",
                              label: "Upload a picture of you..." %>
                </div>

                <div class="sign_up_errors"></div>
                <div class="form-actions">
                  <%= f.button :submit, "Sign up", class: "signup-button" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="logInModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-betwee">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/11/Anglo-American_card_suits.svg/926px-Anglo-American_card_suits.svg.png" class="modal-image" />
        <div class="d-flex align-items-center ms-2">
          <h5 class="modal-title" id="exampleModalLabel">Preflop</h5>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row justify-content-center">
            <div class="signup-form">
              <h2>Log in</h2>
              <div class="errors"></div>
              <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), remote: true) do |f| %>
                <div class="form-inputs">
                  <%= f.input :email,
                              required: false,
                              autofocus: true,
                              input_html: { autocomplete: "email" } %>
                  <%= f.input :password,
                              required: false,
                              input_html: { autocomplete: "current-password" } %>
                  <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
                </div>

                <div class="form-actions">
                  <%= f.button :submit, "Log in", class: "signup-button" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
