<%= link_to "Create a new Game", new_game_path, class: "btn btn-ghost", data: {bs_toggle: "modal", bs_target: "#newGameModal" } %>


<table class="table index-table table-striped ">
  <tr>
    <th>Start Date</th>
    <th>Name</th>
    <th>Blinds</th>
    <th>Max. Bet</th>
    <th>Amount Played</th>
    <th>Average Pot</th>
    <th>Active Players</th>
    <th>State</th>
    <th></th>
  </tr>

  <% @games.each do |game| %>
    <tr class="game-row">
      <td><%= game.created_at.strftime("%e %^b %Y")  %></td>
      <td><%= game.name %></td>
      <td>1€/1€</td>
      <td>30€</td>
      <% total_amount_played = 0 %>
      <% pot_count = 0 %>
      <% game.hands.each do |hand| %>
        <% if hand.pot != nil %>
          <% total_amount_played += hand.pot %>
          <% pot_count += 1 %>
        <% end %>
      <% end %>
      <% if pot_count != 0 %>
        <% average_pot = ((total_amount_played / pot_count.to_f).round(1) % 1 == 0 ? ((total_amount_played / pot_count.to_f).round(1).to_i) : ((total_amount_played / pot_count.to_f).round(1)))  %>
      <% else %>
        <% average_pot = 0 %>
      <% end %>
      <td><%= total_amount_played %>€</td>
      <td><%= average_pot %>€</td>

      <td><%= Reservation.where(game: game, active: true).count %></td>
      <td>Active</td>
      <td class="arrow-td">
        <%= link_to game_path(game), target: :_blank, class:"arrow-join" do %>
          <i class="fas fa-arrow-alt-circle-right"></i>
        <% end %>
      </td>
    </tr>
  <% end %>

</table>


<div class="modal fade" id="newGameModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-betwee">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/11/Anglo-American_card_suits.svg/926px-Anglo-American_card_suits.svg.png" class="modal-image" />
        <div class="d-flex align-items-center ms-2">
          <h5 class="modal-title" id="exampleModalLabel">Preflop</h5>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row justify-content-center">
            <div class="signup-form">
              <h2 class="mb-4">Game</h2>
              <%= simple_form_for(@game) do |f| %>
                <div class="form-inputs">
                  <%= f.input :name,
                              required: false,
                              autofocus: true %>
                </div>
                <div class="form-actions">
                  <%= f.button :submit, "Create", class: "signup-button" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
