<h1 class = "text-center"><%= @game.name %></h1>
<h5>Game ID: <%= @game.id %></h5>

<% if !@game.users.include?(current_user) %>
  <%= simple_form_for [@game, @reservation] do |f|%>
    <div><%= f.submit 'Join this Game !', class: "btn btn-success"%></div>
  <% end %>
<% else %>
  <% reservation_idd = Reservation.all.where(user_id: current_user.id, game_id: @game.id).to_a[0].id %>
  <%= link_to "Leave Game", game_reservation_path(@game, reservation_idd), method: :delete, class: "btn btn-danger" %>
<% end %>


<br>
<br>

<% if @game.users[0] == current_user %>
  <%= simple_form_for [@game, @hand] do |f| %>
        <%= f.submit "Shuffle and deal", class: "btn btn-primary" %>
  <% end %>
<% end %>

<br>

<% if @game.hands.last && @game.users[0] == current_user %>
  <% if @game.hands.last.flop_cards.count == 0 %>
    <%= simple_form_for [@game, @game.hands.last, @flop_card] do |f| %>
      <%= f.submit "Deal flop", class: "btn btn-primary" %>
    <% end %>
  <% elsif @game.hands.last.flop_cards.count == 3 && @game.hands.last.turn_cards.count == 0  %>
    <%= simple_form_for [@game, @game.hands.last, @turn_card] do |f| %>
      <%= f.submit "Deal turn", class: "btn btn-primary" %>
    <% end %>
  <% elsif @game.hands.last.turn_cards.count == 1 %>
    <%= simple_form_for [@game, @game.hands.last, @river_card] do |f| %>
      <%= f.submit "Deal river", class: "btn btn-primary" %>
    <% end %>
  <% end %>
<% end %>

<% if @game.users.include?(@user) %>
  <div class="current-user-card player-card m-3 <%= 'not-joined' if !@game.users.include?(@user) %>">
    <h3 class="text-center"><%= @user.pseudo %></h3>
    <% if @game.hands.last && @game.hands.last.user_cards.where(user: @user)[0] %>
      <p class="text-center">
        <%= @game.hands.last.user_cards.where(user: @user)[0].deck_card.name %>
        <%= @game.hands.last.user_cards.where(user: @user)[1].deck_card.name %>
      </p>
    <% end %>
  </div>
<% end %>


<div class="other-player-card">
  <% @game.users.where.not(pseudo: current_user.pseudo).each do |user| %>
    <div class="player-card m-3">
      <h3 class="text-center"><%= user.pseudo %></h3>
      <%# <% reservation.user.hand.last.cards %>
    </div>
  <% end %>
</div>

<% if @game.users.count > 0 %>
  <div class="board-cards">
      <% if @game.hands.last %>
        <% @game.hands.last.flop_cards.each do |card| %>
          <div class="flop board-card">
            <%= card.deck_card.name %>
          </div>
        <% end %>
        <% @game.hands.last.turn_cards.each do |card| %>
          <div class="turn board-card">
            <%= card.deck_card.name %>
          </div>
        <% end %>
      <% end %>

    </div>
  </div>
<% end %>
