<h1 class = "text-center"><%= @game.name %></h1>
<h5>Game ID: <%= @game.id %></h5>

<% if !@game.users.include?(current_user) %>
  <%= simple_form_for [@game, @reservation] do |f|%>
    <div><%= f.submit 'Join this Game !', class: "btn btn-success"%></div>
  <% end %>
<% else %>
  <% reservation_idd = Reservation.all.where(user_id: current_user.id, game_id: @game.id).to_a[0].id %>
  <%= link_to "Leave Game", game_reservation_path(@game, reservation_idd), method: :delete, class: "btn btn-danger" %>
<% end %>

<% @game.reservations.each do |reservation| %>
  <div class="player-card m-3">
    <h3><%= reservation.user.pseudo %></h3>
    <p><%= "Cards:"  %></p>
  </div>
<% end %>





<br>
<br>
<br>

<%= simple_form_for [@game, @bet], remote: true do |f| %>
  <%= f.input :amount, label: false, placeholder: "Bet here" %>
  <%= f.submit %>
<% end %>

<div class="bets">
  <% @game.bets.each do |bet| %>
    <div id="bet-<%= bet.id %>">
      <small>
        <strong><%= bet.user.pseudo %></strong>
        <i><%= bet.created_at.strftime("%a %b %e at %l:%M %p") %></i>
      </small>
      <p><%= bet.amount %>$</p>
    </div>
  <% end %>
</div>
