<h1 class = "text-center"><%= @game.name %></h1>
<h5>Game ID: <%= @game.id %></h5>

<% if !@game.users.include?(current_user) %>
  <%= simple_form_for [@game, @reservation] do |f|%>
    <div><%= f.submit 'Join this Game !', class: "btn btn-success"%></div>
  <% end %>
<% else %>
  <% reservation_idd = Reservation.all.where(user_id: current_user.id, game_id: @game.id).to_a[0].id %>
  <%= link_to "Leave Game", game_reservation_path(@game, reservation_idd), method: :delete, class: "btn btn-danger" %>
<% end %>


<br>
<br>

<%= simple_form_for [@game, @hand] do |f| %>
      <%= f.submit "Deal cards", class: "btn btn-primary" %>
<% end %>

<br>




<div class="d-flex">
  <div>
    <% @game.reservations.each do |reservation| %>
      <div class="player-card m-3">
        <h3 class="text-center"><%= reservation.user.pseudo %></h3>
        <%# <% reservation.user.hand.last.cards %>
        <p class="text-center">
          <% @index1 = 0 %>
          <% @index2 = 1 %>
          <% @game.users.each do |user| %>
            <% user.cards = [] %>
            <% user.cards << @game.hands.last.cards[@index1] %>
            <% user.cards << @game.hands.last.cards[@index2] %>
            <% user.cards.each do |card| %>
              <% if user == current_user && reservation.user == current_user %>
                <%= card.name %>
              <% else %>
                <%= "" %>
              <% end %>
            <% end %>
            <% @index1 += 2 %>
            <% @index2 += 2 %>
          <% end %>
        </p>
      </div>
    <% end %>
  </div>

  <div class="board-cards" data-controller="board">
    <% if @game.hands.last %>
      <% [@game.hands.last.cards[@game.users.count * 2], @game.hands.last.cards[@game.users.count * 2 + 1], @game.hands.last.cards[@game.users.count * 2 + 2]].each do |card| %>
        <div class="flop board-card d-none" data-board-target="flop">
          <%= card.name %>
        </div>
      <% end %>
    <% end %>
    <button id="flop-button" data-action="click->board#flop"> Flop </button>
  </div>
</div>
