<h1 class = "text-center"><%= @game.name %></h1>
<h5>Game ID: <%= @game.id %></h5>

<% if !@game.users.include?(current_user) %>
  <%= simple_form_for [@game, @reservation] do |f|%>
    <div><%= f.submit 'Join this Game !', class: "btn btn-success"%></div>
  <% end %>
<% else %>
  <% reservation_idd = Reservation.all.where(user_id: current_user.id, game_id: @game.id).to_a[0].id %>
  <%= link_to "Leave Game", game_reservation_path(@game, reservation_idd), method: :delete, class: "btn btn-danger" %>
<% end %>


<br>
<br>

<%= simple_form_for [@game, @hand] do |f| %>
      <%= f.submit "Deal cards", class: "btn btn-primary" %>
<% end %>

<% @game.reservations.each do |reservation| %>
  <div class="player-card m-3">
    <h3><%= reservation.user.pseudo %></h3>
    <%# <% reservation.user.hand.last.cards %>
    <p>
      Cards:
      <% @cards.sample(2).each do |card| %>
      <%= card.name  %>
      <% end %>
    </p>
  </div>
<% end %>

<br>
<br>
<br>
