<h1 class = "text-center mb-5"><%= @game.name %></h1>

<% if !@game.users.include?(current_user) %>
  <%= simple_form_for [@game, @reservation] do |f|%>
    <div><%= f.submit 'Join this Game !', class: "btn btn-success"%></div>
  <% end %>
<% else %>
  <% reservation_idd = Reservation.all.where(user_id: current_user.id, game_id: @game.id).to_a[0].id %>
  <%# <%= link_to "Leave Game", game_reservation_path(@game, reservation_idd), method: :delete, class: "btn btn-danger" %>
  <% if @game.reservations.where(user_id: current_user.id)[0].active %>
    <%= link_to "Leave the Game", game_reservation_path(@game, reservation_idd), method: :put, class: "btn btn-danger" %>
  <% else %>
   <%= link_to "Re-join the Game", game_reservation_path(@game, reservation_idd), method: :put, class: "btn btn-success" %>
  <% end %>
<% end %>


<% player_position = 1 %>
<div class="poker-table mb-5">
  <% @active_players.each do |user| %>
    <% if @active_players.include?(@user)  %>
      <% player_position = @active_players.find_index(user) - @active_players.find_index(@user) %>
      <% if player_position < 0 %>
        <% player_position = @active_players.count - @active_players.find_index(@user) + @active_players.find_index(user) %>
      <% end %>
    <% end %>
    <% if @active_players.count == 2 && player_position == 1 %>
      <% player_position == 3 %>
    <% elsif @active_players.count == 3 && player_position == 1  %>
      <% player_position == 2 %>
    <% elsif @active_players.count == 3 && player_position == 2  %>
      <% player_position == 4 %>
    <% elsif @active_players.count == 4 && player_position == 1  %>
      <% player_position == 2 %>
    <% elsif @active_players.count == 4 && player_position == 2  %>
      <% player_position == 3 %>
    <% elsif @active_players.count == 4 && player_position == 3  %>
      <% player_position == 4 %>
    <% end %>
    <div class="player-infos position-<%=player_position%>">
      <div class="player-cards-wrapper">
        <% if user == @user && @in_hand_players.include?(user) %>
          <div class="text-center d-flex justify-content-center">
            <%= image_tag "#{@current_hand.user_cards.where(user: @user)[0].deck_card.url}", class: "user-cards-1" %>
            <%= image_tag "#{@current_hand.user_cards.where(user: @user)[1].deck_card.url}", class: "user-cards-2" %>
          </div>
        <% elsif @in_hand_players.include?(user) %>
          <div class="text-center d-flex justify-content-center">
            <%= image_tag "card_back.png", class: "user-cards-1" %>
            <%= image_tag "card_back.png", class: "user-cards-2" %>
          </div>
        <% else %>
          <div class="text-center d-flex justify-content-center">
            <div class="transparent"></div>
            <div class="transparent"></div>
          </div>
        <% end %>
      </div>
      <div class="player-card <%= 'current-better' if @current_hand.better == user %> d-flex justify-content-around align-items-center">
        <div class= "d-flex justify-content-around flex-grow-1">
          <h3 class="text-center mb-0"><%= user.pseudo %></h3>
          <div class="d-flex justify-content-center align-items-center" >
          <p class="mb-0"><%= @game.reservations.where(user: user)[0].score  %>€</p>
          </div>
        </div>
        <% if @current_hand && @current_hand.button == user %>
          <div class="button d-flex justify-content-center align-items-center">
              <%= image_tag "button_spade.png", class: "button-spade" %>
          </div>
        <% end %>
      </div>
     <% player_position += 1 %>
    </div>
  <% end %>
  <div>
    <% if @active_players.count > 0 %>
      <div class="inner-table">
        <div>
          <p class="pot">Pot: <%= @pot %>€</p>
        </div>
        <div class="board-cards">
          <% if @current_hand %>
            <% @current_hand.flop_cards.each do |card| %>
                <%= image_tag "#{card.deck_card.url}", class: "board-card" %>
            <% end %>
            <% @current_hand.turn_cards.each do |card| %>
                <%= image_tag "#{card.deck_card.url}", class: "board-card" %>
            <% end %>
            <% @current_hand.river_cards.each do |card| %>
                <%= image_tag "#{card.deck_card.url}", class: "board-card" %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
    <% if @game.users[0] == current_user %>
      <div class="buttons">
        <%= simple_form_for [@game, @hand] do |f| %>
          <%= f.submit "Shuffle and deal", class: "btn btn-primary" %>
        <% end %>
        <% if @current_hand && @game.users[0] == current_user %>
          <% if @current_hand.flop_cards.count == 0 %>
            <%= simple_form_for [@game, @current_hand, @flop_card] do |f| %>
              <%= f.submit "Deal flop", class: "btn btn-primary" %>
            <% end %>
          <% elsif @current_hand.flop_cards.count == 3 && @current_hand.turn_cards.count == 0  %>
            <%= simple_form_for [@game, @current_hand, @turn_card] do |f| %>
              <%= f.submit "Deal turn", class: "btn btn-primary" %>
            <% end %>
          <% elsif @current_hand.turn_cards.count == 1 && @current_hand.river_cards.count == 0 %>
            <%= simple_form_for [@game, @current_hand, @river_card] do |f| %>
              <%= f.submit "Deal river", class: "btn btn-primary" %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<% if @user == @current_hand.better %>
  <%= simple_form_for [@game, @current_hand, @bet] do |f| %>
    <%= f.input :amount, label: false, as: :range, input_html: { id: 'amount', min: 1, max:30, step: 1, value: 5 } %> <span id="result"></span>
    <%= f.submit %>
  <% end %>
<% end %>
